<form [formGroup]="gameForm" (ngSubmit)="onSubmit()">
    Description: <input type="text" formControlName="gameDescription" />
    <button class="depth-chart-text game-plan-save-button">Save</button>
</form>

<div cdkDropListGroup class="game-plan-pairings">
    <div>
        <h3>Pairings ({{pairings.length}})</h3>
        <div cdkDropList cdkDropListSortingDisabled>
            <div *ngFor="let item of pairings"
                cdkDrag [cdkDragData]="item">
                    {{item.name}}-{{pairCount(item.value)}}
                    <div *cdkDragPreview>{{item.name}}</div>
                    <div *cdkDragPlaceholder>{{item.name}}</div>
            </div>
        </div>
    </div>

    <app-game-plan-period [period]="1" (updated)="onPeriodUpdated()">
    </app-game-plan-period>
</div>
