.mat-expansion-panel {
    margin: 10px 0;
}

.mat-expansion-panel-header {
    padding-left: 5px;
}

.mat-expansion-panel-header-title {
    font-weight: bold;
    white-space: nowrap;
}

.mat-expansion-panel-header-description {
    display: inline-block;
    max-width: 99%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

textarea {
    width: 100%;
}

.game-plan-buttons-xs {
    width: 100%;
    margin: 5px;
}

.game-plan-panels {
    max-width: 600px
}

.game-plan-warning {
    background-color: rgb(255, 208, 0);
    font-size: smaller;
    vertical-align: middle;
    padding: 0 5px;
}

.game-plan-warning::before {
    content: "warning"; 
    font-family: "Material Icons";
    font-size: x-large;
    vertical-align: inherit;
}

.depth-chart-container {
    display: inline-block;
}

.game-plan-pairings {
    display: flex;
}

.game-plan-pairings > *:not(:first-child) {
    margin-left: 10px;
}

.game-plan-pairings-header {
    font-weight: bold;
    margin: 5px 0;
}

.game-plan-periods {
    border-spacing: 0;
}

.pairing-count-icon {
    font-size: 18px;
    width: unset;
    height: unset;
    margin-left: 3px;
}

.pairing-count-number {
    font-size: smaller;
    border: 1px solid black;
    background-color: white;
    padding: 0px 3px;
    margin-left: 3px;
}
