<form [formGroup]="gameForm" #form="ngForm" (ngSubmit)="onSubmit()"
    fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="5px grid">
    <div>
        Description: <input type="text" formControlName="gameDescription" />
    </div>
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px" ngClass.xs="game-plan-buttons-xs">
        <button mat-flat-button color="primary">Save</button>
        <button type="button"
            mat-stroked-button
            routerLink="/">Cancel</button>
        <button type="button"
            mat-flat-button
            color="warn"
            *ngIf="isEditMode"
            (click)="confirmDelete()">Delete</button>
    </div>
</form>
<div *ngIf="form.submitted && gameDescription.errors" class="app-validation-alert">
    {{gameDescriptionFirstError}}
</div>
<div *ngIf="displayWarning" class="game-plan-warning">
    The depth chart saved for this game plan does not match your current depth chart
</div>
    
<div cdkDropListGroup class="game-plan-pairings">
    <div>
        <div class="game-plan-pairings-header">Depth Chart ({{players.length}})</div>
        <div *ngFor="let item of players"
            class="app-list-item">
            {{item.name}}
        </div>
    </div>

    <div>
        <div class="game-plan-pairings-header">Pairings ({{pairings.length}})</div>
        <div cdkDropList cdkDropListSortingDisabled>
            <div *ngFor="let item of pairings"
                cdkDrag [cdkDragData]="item"
                class="app-list-item">
                {{item.name}}
                <mat-icon *ngIf="pairingCounter.getCount(item.value) === 1"
                    class="pairing-count-icon">
                    check
                </mat-icon>
                <div *ngIf="pairingCounter.getCount(item.value) > 1"
                    class="pairing-count-number">
                    {{pairingCounter.getCount(item.value)}}
                </div>
        
                <div *cdkDragPreview     class="app-list-item">{{item.name}}</div>
                <div *cdkDragPlaceholder class="app-list-item">{{item.name}}</div>
            </div>
        </div>
    </div>

    <table class="game-plan-periods">
        <tbody app-game-plan-period *ngFor="let i of gamePlanService.periods" [period]="i" (updated)="onPeriodUpdated()">
        </tbody>
    </table>
</div>
