button {
    margin-left: 5px;
}

.game-plan-cancel-button {
    margin-left: 25px;
}

.game-plan-pairings {
    display: flex;
}

.game-plan-pairings-header {
    font-weight: bold;
    margin: 5px 0;
}

.game-plan-periods {
    border-spacing: 0;
    margin-left: 15px;
}

.pairing-count-icon {
    font-size: 18px;
    width: unset;
    height: unset;
    margin-left: 3px;
}

.pairing-count-number {
    font-size: smaller;
    border: 1px solid black;
    background-color: white;
    padding: 0px 3px;
    margin-left: 3px;
}
