button {
    margin-left: 5px;
}

.game-plan-cancel-button {
    margin-left: 25px;
}

.game-plan-pairings {
    display: flex;
}

.game-plan-periods {
    display: flex;
    flex-direction: column;
}

.pairing-count-icon {
    font-size: smaller;
    border: 1px solid black;
    background-color: white;
    padding: 0px 3px;
    margin-left: 3px;
}
