<div>
    <app-list-header
        [items]="items"
        title="Game Plans"
        instructions="Click items to edit">
    </app-list-header>

    <ul class="app-list">
        <li *ngIf="!items || items.length == 0"
            class="app-list-item app-list-item-empty">
            Add game plan below
        </li>
        <li *ngFor="let item of items; let i = index"
            (click)="onClick(i)"
            class="app-list-item app-list-item-clickable">
            {{item.name}}
        </li>
    </ul>
    
    <div class="game-plan-add-container">
        <button mat-flat-button
            color="primary"
            [routerLink]="['game', -1]"
            class="app-small-button">Add</button>
    </div>
</div>
