/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h3 {
    margin-bottom: 5px;
}

.app-list-item,
.app-submit-button,
.app-neutral-button,
.app-negative-button,
input[type="text"] {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    padding: 3px 5px;
}

.app-submit-button {
    color: white;
    background: #3333ff;
    border: 1px solid #3333ff;
}

.app-neutral-button {
    color: white;
    background: #999999;
    border: 1px solid #999999;
}

.app-negative-button {
    color: white;
    background: #ff3333;
    border: 1px solid #ff3333;
}

.app-list {
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
}

.app-list-item {
    list-style-type: none;
    background: #eeeeee;
}

.app-list-item:not(:first-child) {
    margin-top: 3px;
}

.app-list-item.cdk-drag-preview {
    height: 18px !important; /* override incorrect height style added by cdkDrag */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

/* Hide the delete icon for any item being dragged */
.app-list-item.cdk-drag-preview > mat-icon,
.app-list-item.cdk-drag-dragging > mat-icon,
.app-list-item.cdk-drag-placeholder > mat-icon {
    display: none;
}

.app-list-item.cdk-drag:not(.cdk-drag-disabled) {
    cursor: move;
}

.app-list-item-empty {
    text-align: center;
    padding: 20px 0px;
}

.app-list-item-clickable:hover {
    cursor: pointer;
    background: #e1eaf9;
}

.app-list-item-delete {
    color: #aaa;
    font-size: 14pt;
    float: right;
    margin-left: 10px;
}

.app-list-item-delete:hover {
    color: red;
    cursor: pointer;
}

.app-list-instructions {
    color: #999;
    font-size: smaller;
    text-align: center;
    margin-bottom: 2px;
}
