<form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="depth-chart-add-container">
    <input type="text"
        formControlName="newName"
        #newNameInput
        class="depth-chart-add-input"
        autocomplete="off" />
    <button class="app-submit-button depth-chart-add-button">Add</button>
</form>
<div *ngIf="newName.errors && newName.hasError('duplicateName')" class="validation-alert">
    {{newName.errors['duplicateName'].value}}
</div>
<div class="depth-chart-instructions">
    Drag items to Re-order
</div>
<div class="depth-chart-instructions">
    Clear the List <button (click)="confirmClear()" class="app-negative-button depth-chart-clear-button">Clear</button>
</div>
