.depth-chart-add-container {
    white-space: nowrap;
}

.depth-chart-add-input {
    width: 175px;
}

.depth-chart-add-button {
    margin-left: 5px;
}

.validation-alert {
    color: red;
}

.depth-chart-clear-button {
    font-size: smaller;
    margin-left: 5px;
}

.depth-chart-instructions {
    font-size: smaller;
    text-align: center;
    border: 1px solid #aaa;
    margin-top: 5px;
    padding: 5px;
}
