<form [formGroup]="addForm" (ngSubmit)="onSubmit()"
    fxLayout="row" fxLayoutGap="5px" class="depth-chart-add-container">
    <input type="text"
        formControlName="newName"
        #newNameInput
        fxFlex="75"
        autocomplete="off" />
    <button mat-flat-button
        color="primary"
        class="app-small-button">Add</button>
</form>
<div *ngIf="newName.errors" class="app-validation-alert">
    {{newNameFirstError}}
</div>
<div *ngIf="items.length > 0" class="depth-chart-clear-container">
    Clear the Depth Chart<br>
    <button mat-flat-button
        color="warn"
        (click)="confirmClear()"
        class="app-small-button depth-chart-clear-button">Clear</button>
</div>
