<div class="game-plan-period">
    <div class="game-plan-period-pairings">
        <h3>Period {{period + 1}}</h3>
        <div cdkDropList
            (cdkDropListDropped)="onDrop($event)"
            [cdkDropListData]="pairings"
            [cdkDropListEnterPredicate]="disallowDuplicate"
            class="game-plan-period-dropzone">
            <div *ngFor="let item of pairings"
                class="app-list-item">
                {{item.name}}
                <mat-icon
                    (click)="onDelete(item.value)"
                    class="app-list-item-delete">highlight_off</mat-icon>
            </div>
        </div>
    </div>

    <div class="game-plan-period-players">
        <h3>Players</h3>
        <div *ngFor="let item of players"
            class="player-count"
            [class.player-single]="playerCounter.getCount(item.name) === 1"
            [class.player-multiple]="playerCounter.getCount(item.name) > 1">
            {{item.name}}
            <mat-icon *ngIf="playerCounter.getCount(item.name) === 1"
                class="player-icon">
                check
            </mat-icon>
            <div *ngIf="playerCounter.getCount(item.name) > 1"
                class="player-icon">
                {{playerCounter.getCount(item.name)}}
            </div>
        </div>
    </div>
</div>
