<div class="game-plan-period">
    <div class="game-plan-period-pairings">
        <h3>Period {{period + 1}}</h3>
        <div cdkDropList
            (cdkDropListDropped)="onDrop($event)"
            [cdkDropListData]="pairings"
            [cdkDropListEnterPredicate]="disallowDuplicate"
            class="game-plan-period-dropzone">
            <div *ngFor="let item of pairings">{{item.name}}</div>
        </div>
    </div>

    <div class="game-plan-period-players">
        <h3>Players</h3>
        <div *ngFor="let item of players">{{item.name}}-{{playerCounter.getCount(item.name)}}</div>
    </div>
</div>
