.depth-chart-list {
    padding: 0;
    margin: 10px 0;
}

.depth-chart-list-item {
    list-style-type: none;
    background: #eeeeee;
}

.depth-chart-list-item.cdk-drag-preview {
    height: 18px !important; /* override incorrect height style added by cdkDrag */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

/*
    Show the icon
        -hovering over a draggable list item when nothing is currently being dragged (.depth-chart-list-item.cdk-drag)
        -item currently being dragged (cdk-drag-preview)
    Don't show the icon
        -disabled lists (cdk-drag-disabled)
        -placeholder for the item currently being dragged (cdk-drag-placeholder)
        -items underneath the item currently being dragged (dragIsActive)
*/
.depth-chart-list-item.cdk-drag:not(.cdk-drag-disabled):not(.cdk-drag-placeholder):not(.dragIsActive):hover::after,
.depth-chart-list-item.cdk-drag-preview::after {
    content: "unfold_more";
    font-family: "Material Icons";
    float: right;
}

.depth-chart-list-item-empty {
    text-align: center;
    padding: 20px 0px;
}

.depth-chart-list-item:not(:first-child) {
    margin-top: 3px;
}
