<ul cdkDropList
    [cdkDropListDisabled]="dragDropDisabled"
    (cdkDropListDropped)="drop($event)"
    class="app-list">
    <app-list-item-empty [items]="items" [message]="emptyMessage"></app-list-item-empty>
    <li *ngFor="let item of items; let i = index"
        cdkDrag
        (cdkDragStarted)="isDragActive=true"
        (cdkDragReleased)="isDragActive=false"
        (mouseenter)="hoverItemIndex=i"
        (mouseleave)="hoverItemIndex=-1"
        class="app-list-item">
        {{item.name}}
        <mat-icon
            *ngIf="isDeleteClickable(i)"
            (click)="delete(i)"
            class="app-list-item-delete">highlight_off</mat-icon>
    </li>
</ul>
